@font-face {
    font-family: "Digital";
    src: url(./fonts/digital-7.ttf) format('truetype');
  }


header {
    color: Black;
    font-family: Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    height: 8%;
    margin: none;
    padding: 0 20px;
}

body {
    background: #cac9c9;
    font-family: Helvetica, sans-serif;
    font-size: 12;
    height: 460px;
    width: 750px;
    align-content: center;
    /* cursor: none; */
}

a {
    text-decoration: none;
    color: inherit;
}


h1 {
    font-size: 72px;
    font-family: "Digital", sans-serif;
    color: black;
    text-align: right;
    margin-top: 100px;
}

ul { 
    list-style-type: none; 
}

.attributes {
    width: 750px;
    height: 50px;
    float: top;
    border-bottom: solid gray 2px;
    font-size: 30px;
    padding: 5px 10px;
}

.toggleMenu {
    float: left;
    width: 40px;
    height: 40px;
    background: url(./images/More_64px.png);
    background-size: cover;
}

.menu {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    position: relative;
    color: black;
    margin-left: -50px;
    float: left;
    width: 100px;
    height: 350px;
    text-align: left;
    border-right: solid gray 2px;
    z-index: 10;
}

.modemenu {
    margin-top: -70px;
    margin-left: 100px;
    position: absolute;
    width: 100px;
    height: 150px;
    border-right: solid gray 2px;
    border-bottom: solid gray 2px;
    text-align: left;
    padding: -40px;
}

.rangemenu {
    margin-top: -125px;
    margin-left: 100px;
    position: absolute;
    width: 100px;
    height: 180px;
    border-right: solid gray 2px;
    border-bottom: solid gray 2px;
    text-align: left;
    padding: -40px;
}

/* #AC {
    float: left;
    top: 380px;
    right: 50px;
    padding: 5px 5px;
    margin: 50px 100px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    color: #000; 
    background-color: #ddd;
    border: 1px solid #ccc;
    padding: 8px;
}

#DC {
    float: left;
    top: 380px;
    right: 50px;
    padding: 5px 5px;
    margin: 50px -70px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    color: #000; 
    background-color: #ddd;
    border: 1px solid #ccc;
    padding: 8px;
} */

#acdc {
    float: left;
}

#autorange {
    float: right;
}

#mode {
    margin-top: 20px;
    padding: 15px 0;
}
#range {
    padding: 15px 0;
}
#hold {
    padding: 15px 0;
}

#screenshot {
    padding: 15px 0;
}

#settings {
    padding: 15px 0;
}

#voltage_DC {
    padding-left: -20px;
}

#voltage_AC {
    padding-bottom: 15px;
    padding-left: -20px;
}

#current {
    padding-bottom: 15px;
    padding-left: -20px;
}

#resistance {
    padding: 15px 0;
}

#zero, #one, #two, #auto {
    padding: 5px 0;
}

#continuity{
    padding: 15px 0;
}

#clearlog {
    float: right;
    top: 380px;
    right: 50px;
    padding: 5px 5px;
    background: url(./images/Trash_64px.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    margin: 50px 20px;
}

#imgHolder {
    float: right;
    top: 380px;
    right: 50px;
    padding: 5px 5px;
    background: url(./images/Recording_50px.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    margin: 50px 20px;

    animation: blink 1s ease-in infinite;
}

#record {
    float: right;
    bottom: 0px;
    padding: 5px 5px;
    background: url(./images/record_50px.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    margin: 50px 20px;
}

#record:hover {
    background: url(./images/recordhov_48px.png);
    background-size: cover;
    width: 20px;
    height: 20px;
}

#clearlog:hover {
    background: url(./images/Trash_52px.png);
    background-size: cover;
    width: 20px;
    height: 20px;
}

#off {
    float: right;
    background: url(./images/Shutdown_50px.png);
    background-size: cover;
    width: 30px;
    height: 30px;
}

#home {
    float: left;
    background: url(./images/Home_50px.png);
    background-size: cover;
    width: 30px;
    height: 30px;
}

#rangevalue {
    font-size: 70% !important;
}

#unitvalue {
    font-size: 100%;
}

#value {
    font-size: 100%;
}

#off:hover {
    background: url(./images/Shutdownhov_50px.png);
    background-size: cover;
    width: 30px;
    height: 30px;
}

#home:hover {
    background: url(./images/Homehov_50px.png);
    background-size: cover;
    width: 30px;
    height: 30px;
}

.toggleMenu:hover {
    float: left;
    width: 40px;
    height: 40px;
    background: url(./images/Menuhov_64px.png);
    background-size: cover;
}

@keyframes blink {
    from, to { opacity: 1 }
    50% { opacity: 0 }
  }

#chartContainer {
    width: 65%;
    height: 70%;
    margin-left: 280px;
}
